<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kking.dao.mapper.TSysActionMapper">
    <resultMap id="SimpleResult" type="TSysAction">
        <id property="id" column="id"/>
            <result property="id" column="id"/>
            <result property="actionName" column="action_name"/>
            <result property="createTime" column="create_time"/>
        </resultMap>
    <sql id="SelectOneSql" >
        select <trim suffixOverrides=","> id,  action_name,  create_time, </trim>
        from t_sys_action
    </sql>
    <select id="selectById" resultType="TSysAction" parameterType="Integer">
        <include refid="SelectOneSql"/>
        where id=#{id}
    </select>
    <select id="selectList" resultType="TSysAction" parameterType="TSysAction">
        <include refid="SelectOneSql"/>
        <where>
                    <if test="id != null "> and `id`=#{id}</if>
                    <if test="actionName != null  and actionName != ''"> and `action_name`=#{actionName}</if>
                    <if test="createTime != null "> and `create_time`=#{createTime}</if>
                </where>
    </select>
    <insert id="insert" parameterType="TSysAction" keyProperty="id" useGeneratedKeys="true">
        insert into t_sys_action(
        <trim suffixOverrides=",">
                                    <if test="actionName != null  and actionName != ''">`action_name`,</if>
                                <if test="createTime != null ">`create_time`,</if>
                    </trim>
        )values(
        <trim suffixOverrides=",">
                                    <if test="actionName != null  and actionName != ''">#{actionName},</if>
                                <if test="createTime != null ">#{createTime},</if>
                    </trim>
        )
    </insert>
    <select id="selectOneByProperty" resultType="TSysAction">
        <include refid="SelectOneSql"/>
        where ${arg0} = #{arg1}
    </select>
    <select id="selectListByProperty" resultType="TSysAction">
        <include refid="SelectOneSql"/>
        where ${arg0} = #{arg1}
    </select>
    <delete id="deleteById" parameterType="Integer">
        delete from t_sys_action where id=#{id}
    </delete>
    <update id="update" parameterType="TSysAction">
        update t_sys_action set
        <trim suffixOverrides=",">
                                            <if test="actionName != null  and actionName != ''">`action_name`=#{actionName},</if>
                                    <if test="createTime != null ">`create_time`=#{createTime},</if>
                        </trim>
        where id=#{id}
    </update>

    <select id="getPermTypeAction" resultType="map">
        select a.action_name from t_sys_action a,t_sys_perm p
        where a.id=p.action_id and p.perm_type=#{permType}
        group by a.action_name
    </select>

</mapper>