<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kking.dao.mapper.TSysPermMapper">
    <resultMap id="SimpleResult" type="TSysPerm">
        <id property="id" column="id"/>
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="resourceId" column="resource_id"/>
        <result property="permName" column="perm_name"/>
        <result property="permType" column="perm_type"/>
    </resultMap>
    <sql id="SelectOneSql" >
        select <trim suffixOverrides=","> id,  create_time,  resource_id,  perm_name,  perm_type, </trim>
        from t_sys_perm
    </sql>
    <select id="selectById" resultType="TSysPerm" parameterType="Integer">
        <include refid="SelectOneSql"/>
        where id=#{id}
    </select>
    <select id="selectList" resultType="TSysPerm" parameterType="TSysPerm">
        <include refid="SelectOneSql"/>
        <where>
            <if test="id != null "> and `id`=#{id}</if>
            <if test="createTime != null "> and `create_time`=#{createTime}</if>
            <if test="resourceId != null "> and `resource_id`=#{resourceId}</if>
            <if test="permName != null  and permName != ''"> and `perm_name`=#{permName}</if>
            <if test="permType != null  and permType != ''"> and `perm_type`=#{permType}</if>
        </where>
    </select>
    <insert id="insert" parameterType="TSysPerm" keyProperty="id" useGeneratedKeys="true">
        insert into t_sys_perm(
        <trim suffixOverrides=",">
            <if test="createTime != null ">`create_time`,</if>
            <if test="resourceId != null ">`resource_id`,</if>
            <if test="permName != null  and permName != ''">`perm_name`,</if>
            <if test="permType != null  and permType != ''">`perm_type`,</if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="createTime != null ">#{createTime},</if>
            <if test="resourceId != null ">#{resourceId},</if>
            <if test="permName != null  and permName != ''">#{permName},</if>
            <if test="permType != null  and permType != ''">#{permType},</if>
        </trim>
        )
    </insert>
    <select id="selectOneByProperty" resultType="TSysPerm">
        <include refid="SelectOneSql"/>
        where ${param1} = #{param2}
    </select>
    <select id="selectListByProperty" resultType="TSysPerm">
        <include refid="SelectOneSql"/>
        where ${param1} = #{param2}
    </select>
    <delete id="deleteById" parameterType="TSysPerm">
        delete from t_sys_perm where id=#{id}
    </delete>
    <update id="update" parameterType="TSysPerm">
        update t_sys_perm set
        <trim suffixOverrides=",">
            <if test="createTime != null ">`create_time`=#{createTime},</if>
            <if test="resourceId != null ">`resource_id`=#{resourceId},</if>
            <if test="permName != null  and permName != ''">`perm_name`=#{permName},</if>
            <if test="permType != null  and permType != ''">`perm_type`=#{permType},</if>
        </trim>
        where id=#{id}
    </update>

</mapper>