package ${packageName}.${moduleName};

import ${packageName}.entity.${table.xCamelName};

public interface ${table.xCamelName}Mapper {
    public ${table.xCamelName} selectOne(Integer id);
    public ${table.xCamelName} selectOneByProperty(String key,Object value);
    public int insert(${table.xCamelName} ${table.xCamelName});
    public int deleteById(Integer id);
    public int update(${table.xCamelName} ${table.xCamelName});
}
