<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.${moduleName}.${table.xCamelName}Mapper">
    <resultMap id="SimpleResult" type="${table.xCamelName}">
        <id property="${primaryKey.camelName}" column="${primaryKey.columnName}"/>
#foreach($column in $columns)
        <result property="${column.camelName}" column="${column.columnName}"/>
#end
    </resultMap>
    <sql id="SelectOneSql" >
        select <trim suffixOverrides=",">#foreach($column in $columns) ${column.columnName}, #end</trim>
        from ${tableName}
    </sql>
    <select id="selectById" resultType="${table.xCamelName}" parameterType="Integer">
        <include refid="SelectOneSql"/>
        where ${primaryKey.columnName}=#{${primaryKey.camelName}}
    </select>
    <select id="selectList" resultType="${table.xCamelName}" parameterType="${table.xCamelName}">
        <include refid="SelectOneSql"/>
        <where>
#foreach($column in $columns)
            <if test="${column.camelName} != null #if(${column.javaType}=="String") and ${column.camelName} != ''#end"> and `${column.columnName}`=#{${column.camelName}}</if>
#end
        </where>
    </select>
    <insert id="insert" parameterType="${table.xCamelName}" keyProperty="${primaryKey.columnName}" useGeneratedKeys="true">
        insert into ${tableName}(
        <trim suffixOverrides=",">
#foreach($column in $columns)
#if (${column.columnName}!=${primaryKey.columnName})
            <if test="${column.camelName} != null #if(${column.javaType}=="String") and ${column.camelName} != ''#end">`${column.columnName}`,</if>
#end
#end
        </trim>
        )values(
        <trim suffixOverrides=",">
#foreach($column in $columns)
#if (${column.columnName}!=${primaryKey.columnName})
            <if test="${column.camelName} != null #if(${column.javaType}=="String") and ${column.camelName} != ''#end">#{${column.camelName}},</if>
#end
#end
        </trim>
        )
    </insert>
    <select id="selectOneByProperty" resultType="${table.xCamelName}">
        <include refid="SelectOneSql"/>
        where ${param1} = #{param2}
    </select>
    <select id="selectListByProperty" resultType="${table.xCamelName}">
        <include refid="SelectOneSql"/>
        where ${param1} = #{param2}
    </select>
    <delete id="deleteById" parameterType="${table.xCamelName}">
        delete from ${tableName} where ${primaryKey.columnName}=#{${primaryKey.camelName}}
    </delete>
    <update id="update" parameterType="${table.xCamelName}">
        update ${tableName} set
        <trim suffixOverrides=",">
#foreach($column in $columns)
#if (${column.columnName}!=${primaryKey.columnName})
            <if test="${column.camelName} != null #if(${column.javaType}=="String") and ${column.camelName} != ''#end">`${column.columnName}`=#{${column.camelName}},</if>
#end
#end
        </trim>
        where ${primaryKey.columnName}=#{${primaryKey.camelName}}
    </update>

</mapper>